<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxbro.sun.notice.mapper.MemorialDayUserRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bxbro.sun.common.base.domain.entity.MemorialDayUserRel">
        <id column="id" property="id" />
        <result column="memorial_day_id" property="memorialDayId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <select id="listUsersByDayId" resultType="com.bxbro.sun.notice.domain.dto.MemorialDayUserDto">
        select tu.user_name, tu.nick_name, tu.email
        from t_memorial_day_user_rel tmdur
        left join t_user tu on tmdur.user_id = tu.id
        where tmdur.memorial_day_id = #{dayId}
    </select>
</mapper>
